#Submit{
    display:flex

}
#allboxes{
    display:flex;
    flex-direction: row;
    border: 1px solid #d9d9d9;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
#firstname{
    display:flex;
    width: 40%;
}
#first-name{
    width: 30%;
}
#secondname{
    display:flex;
    width: 40%;
}
#SecondNameInput{
    width: 30%;
} 
#addressmain{
    display:flex;
    width: 40%;
}
#AddressInput{
    width: 30%; 
}  
#pincodemain{
    display:flex;
    width: 40%;
}
#PincodeInput{
    width: 30%; 
} 
#Gender{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#GenderInput{
    width: 30%
} 
#food{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#GenderInput{
    width: 30%
} 
#state{
    display:flex;
    width: 40%;
}
#stateInput{
    width: 30%; 
}
#country{
    display:flex;
    width: 40%;
}
#countryinput{
    width: 30%; 
}
#Submit{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

}